.logoText {
  position: relative;
  font-family: Bebas Neue, sans-serif;
  font-size: 25px;
  color: #DADADA;
  text-transform: uppercase;
  text-align: center;
}

.logoText__small {
  font-size: 20px;
  color: black;
  text-align: left;
}

.logoText__footer{
  text-align: left;
  margin-bottom: 17px;
}

.logoTriangle {
  position: absolute;
  top: 2.5px;
  right: 46.5%;
  z-index: 1;

  background-image: url("../img/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  width: 9px;
}

.logoTriangle__small {
  position: absolute;
  top: 2.5px;
  left: 12%;

  height: 16px;
  width: 6px;
}

.logoTriangle__footer {
  position: absolute;
  top: 6px;
  left: 28.5%;

  height: 18px;
  width: 7px;
}
