html {
  font-size: 15px;
  font-weight: 400;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Open Sans,sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;

  cursor: pointer;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


@import './css/header.css';
@import './css/container.css';
@import 'css/logo.css';
@import 'css/navbar.css';
@import 'css/about.css';
@import 'css/konstruct.css';
@import 'css/services.css';
@import 'css/btn.css';
